<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nginx (Ansible)</title>
  </head>
  <body>
    <h1>Nginx role</h1>
    <p>Host: {{ inventory_hostname }}</p>
    <p>Server name: {{ nginx_server_name }}</p>
  </body>
</html>
